* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* -------------------- main container -------------- */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------- Header section start ------------- */

header {
  background-color: #232536;
  border-bottom: 1px solid silver;
  position: fixed;
  width: 100%;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: auto;
}

nav .list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 712px;
}

nav .list .list-item a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease-out;
}

nav .list .list-item a:hover {
  color: #fff;
}

.active-link {
  color: #fff !important;
}

/* ------------- Header section end ---------------- */



/* ------------- Main section  start---------------- */


/* ------------- Intro section start ------------ */

#intro {
  width: 100%;
  background-color: #FFE6D2;
  padding: 150px 0;
}

#intro .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro .wrapper .left h1 {
  width: 128px;
  height: 20px;
  top: 176px;
  left: 160px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #232536;
  margin-top: 20px;
}

#intro .wrapper .left h2 {
  width: 622px;
  height: 174px;
  top: 208px;
  left: 160px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
  margin-top: 20px;
}

#intro .wrapper .left p {
  width: 624px;
  height: 48px;
  top: 406px;
  left: 160px;
  opacity: 0.6px;
  color: #232536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 100px;
}

#intro .wrapper .left button {
  width: 231px;
  height: 64px;
  top: 494px;
  left: 160px;
  background-color: #444CFC;
  border: 15px solid #444CFC;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  box-shadow: 20px 20px 10px #68696d;
  cursor: pointer;
  transition: 2s ease-out;
}

#intro .wrapper .left button:hover {
  box-shadow: 10px 10px 5px #68696d;
  background-color: #444CFC;
}

#intro .wrapper .left button a {
  text-decoration: none;
  color: #ffffff;
}

#intro .wrapper .right .imgtext {
  display: flex;
  gap: 10px;
  align-items: center;
}

#intro .wrapper .right .imgtext img {
  margin-top: 30px;
}

#intro .wrapper .right h3 {
  height: 36px;
  top: 296px;
  left: 1035px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
  margin-top: 25px;
}

#intro .wrapper .right {
  width: 50%;
  margin-left: 200px;
}

/* ------------- Intro section end ------------ */


/* ------------- Technical section start ------------ */

#technical {
  width: 100%;
}

#technical .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

#technical .wrapper .left h2 {
  width: 294px;
  height: 36px;
  opacity: 0.87px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

#technical .wrapper .left h1 {
  width: 624px;
  height: 162px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
  margin-top: 20px;
}

#technical .wrapper .left p{
  width: 622px;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.6px;
  color:#232536;
  margin-top: 20px;
}

/* ------------- Technical section end ------------ */


/* ------------- Development section start ------------ */

#development {
  width: 100%;
  background-color: #ECF8F9;
}

#development .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

#development .wrapper .left h2 {
  width: 294px;
  height: 36px;
  opacity: 0.87px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

#development .wrapper .left h1 {
  width: 624px;
  height: 162px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
  margin-top: 20px;
}

#development .wrapper .left p{
  width: 622px;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.6px;
  color:#232536;
  margin-top: 20px;
}

/* ------------- Development section end ------------ */


/* ------------- Consulting section start ------------ */

#consulting {
  width: 100%;
}

#consulting .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

#consulting .wrapper .left h2 {
  width: 294px;
  height: 36px;
  opacity: 0.87px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

#consulting .wrapper .left h1 {
  width: 624px;
  height: 162px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
  margin-top: 20px;
}

#consulting .wrapper .left p{
  width: 622px;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.6px;
  color:#232536;
  margin-top: 20px;
}

/* ------------- Consulting section end ------------ */


/* ------------- Information section start ------------ */

#information {
  width: 100%;
}

#information .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

#information .wrapper .left h2 {
  width: 294px;
  height: 36px;
  opacity: 0.87px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

#information .wrapper .left h1 {
  width: 624px;
  height: 162px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
  margin-top: 20px;
}

#information .wrapper .left p{
  width: 622px;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.6px;
  color:#232536;
  margin-top: 70px;
}

/* ------------- Information section end ------------ */


/* ------------- Azure section start ------------ */

#azure {
  width: 100%;
}

#azure .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

#azure .wrapper .left h2 {
  width: 294px;
  height: 36px;
  opacity: 0.87px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

#azure .wrapper .left h1 {
  width: 624px;
  height: 162px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
  margin-top: 20px;
}

#azure .wrapper .left p{
  width: 622px;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.6px;
  color:#232536;
  margin-top: 20px;
}

/* ------------- Azure section end ------------ */

/* --------------- STAND SECTION START ------------ */

#stand{
  width: 100%;
  padding: 30px 0;
}

#stand .wrapper{
  background-color: #666DFF;
  display: flex;
  column-gap: 0;
}

#stand .wrapper .card{
  width: 100%;
}

#stand .wrapper .card .wrapper_bottom{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}

#stand .wrapper .card .wrapper_bottom h2{
  width: 113px;
  height: 20px;
  top: 5833px;
  left: 258px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #FFFFFF;
  margin-top: -40px;
}

#stand .wrapper .card .wrapper_bottom p{
  width: 488px;
  height: 108px;
  top: 5866px;
  left: 256px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

#stand .wrapper .card .wrapper_bottom button input{
  width: 454px;
  height: 64px;
  text-align: left;
  border: none;
  cursor: auto;
  padding-left: 30px;
}

#stand .wrapper .card .wrapper_bottom button:hover{
  border: 4px solid #FFA155;
  transition-duration: 2s;
  transition-timing-function: ease;
  box-shadow: 0 0 20px #232536;
}

/* --------------- STAND SECTION END ------------ */


/* ------------- Main section end---------------- */


/* --------------- FOOTER SECTION START ------------ */

footer {
  width: 100%;
  padding: 30px 0;
  height: auto;
}

footer .wrap_top {
  display: flex;
  justify-content: space-between;
}

footer .wrap_top .card {
  width: 470px;
  height: 400px;
}

footer .wrap_top .card h1 {
  width: 488px;
  height: 108px;
  top: 5866px;
  left: 256px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

footer .wrap_top .card h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #232536;
  margin-top: 40px;
}

footer .wrap_top .card p {
  width: 159px;
  height: 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #232536;
  margin-top: 40px;
  margin-bottom: -30px;
}

footer .wrap_top .nav {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  column-gap: 80px;
}

footer .wrap_bottom {
  display: flex;
  justify-content: space-between;
  width: 1296px;
  padding-bottom: 30px;
}

footer .wrap_top .nav ul {
  list-style-type: none;
}

footer .wrap_top .nav ul li {
  margin-top: 10px;
}

footer .wrap_top .nav ul a {
  text-decoration: none;
}

footer .wrap_top .nav ul .pages a {
  width: 71.11px;
  height: 28px;
  top: 6246px;
  left: 818px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

footer .wrap_top .nav ul a {
  width: 127px;
  height: 20px;
  top: 6287px;
  left: 999px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}

footer .wrap_top .nav ul h2 {
  color: #232536;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

footer .wrap_bottom button a {
  text-decoration: none;
  width: 117px;
  height: 24px;
  color: #232536;
  margin: 10px 20px;
}

footer .wrap_bottom button {
  border: none;
  box-shadow: 3px 3px 5px #757575d8;
  padding-right: 20px;
  margin-right: 40px;
}

footer .wrap_bottom button:hover {
  box-shadow: 0px 0px 5px #757575d8;
}

footer .wrap_end {
  background-color: #FFE6D2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

footer .wrap_end .left {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 40px;
}

footer .wrap_end .left h1 {
  height: 24px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

footer .wrap_end .right{
  display: flex;
  justify-content: space-between;
  gap: 26px;
  padding-right: 40px;
}

footer .wrap_end .right img{
  transition: all 0.4s ease-in-out;
}

footer .wrap_end .right img:hover{
  transform: scale(1.5);
}

/* --------------- FOOTER SECTION END ------------ */