* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/* -------------------- main container -------------- */

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ------------- Header start ------------- */

header {
    background-color: #232536;
    border-bottom: 1px solid silver;
    position: fixed;
    width: 100%;
    z-index: 5;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
}

nav .list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 712px;
}

nav .list .list-item a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
}

nav .list .list-item a:hover {
    color: #fff;
}

.active-link {
    color: #fff !important;
}

/* ------------- Header end ---------------- */


/* ------------- Privacy section start ------------ */

#privacy {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

#privacy .wrapper {
    position: relative;
    padding-top: 176px;
}

#privacy .wrapper h1 {
    height: 58px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
    margin-top: -100px;
}

#privacy .wrapper p {
    margin-top: 8px;
    height: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
}

#privacy .wrapper .left {
    position: absolute;
    left: 0;
    top: 0;
}

#privacy .wrapper .right {
    position: absolute;
    right: 0;
    top: 0;
}

#privacy .wrapper .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

#privacy .wrapper .card {
    background-color: #ECF8F9;
    padding: 96px 221px;
    margin-top: 72px;
}

#privacy .wrapper .card h1 {
    height: 108px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
    margin-top: 16px;
}

#privacy .wrapper .card h2 {
    height: 36px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
    margin-top: 40px;
}

#privacy .wrapper .card p {
    height: 144px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
    margin-top: 1px;
}

/* ------------- Privacy section end ------------ */


/* --------------- FOOTER SECTION START ------------ */

footer {
    width: 100%;
    padding: 30px 0;
    height: auto;
}

footer .wrap_top {
    display: flex;
    justify-content: space-between;
}

footer .wrap_top .card {
    width: 470px;
    height: 400px;
}

footer .wrap_top .card h1 {
    width: 488px;
    height: 108px;
    top: 5866px;
    left: 256px;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
}

footer .wrap_top .card h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #232536;
    margin-top: 40px;
}

footer .wrap_top .card p {
    width: 159px;
    height: 28px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #232536;
    margin-top: 40px;
    margin-bottom: -30px;
}

footer .wrap_top .nav {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    column-gap: 80px;
}

footer .wrap_bottom {
    display: flex;
    justify-content: space-between;
    width: 1296px;
    padding-bottom: 30px;
}

footer .wrap_top .nav ul {
    list-style-type: none;
}

footer .wrap_top .nav ul li {
    margin-top: 10px;
}

footer .wrap_top .nav ul a {
    text-decoration: none;
}

footer .wrap_top .nav ul .pages a {
    width: 71.11px;
    height: 28px;
    top: 6246px;
    left: 818px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
}

footer .wrap_top .nav ul a {
    width: 127px;
    height: 20px;
    top: 6287px;
    left: 999px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #232536;
}

footer .wrap_top .nav ul h2 {
    color: #232536;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

footer .wrap_bottom button a {
    text-decoration: none;
    width: 117px;
    height: 24px;
    color: #232536;
    margin: 10px 20px;
}

footer .wrap_bottom button {
    border: none;
    box-shadow: 3px 3px 5px #757575d8;
    padding-right: 20px;
    margin-right: 40px;
}

footer .wrap_bottom button:hover {
    box-shadow: 0px 0px 5px #757575d8;
}

footer .wrap_end {
    background-color: #FFE6D2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

footer .wrap_end .left {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
}

footer .wrap_end .left h1 {
    height: 24px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

footer .wrap_end .right {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    padding-right: 40px;
}

footer .wrap_end .right img {
    transition: all 0.4s ease-in-out;
}

footer .wrap_end .right img:hover {
    transform: scale(1.5);
}

/* --------------- FOOTER SECTION END ------------ */